<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Flask Templates</title>
  </head>
  
  <body>

    <form action="http://localhost:5000/yearP"  method='POST'>
        <p>Year <input type="text" name="year"/></p>
        <p>Category <input type="text" name="category"/></p>
        <p>Id = <input type="text" name="id"></p>
        <p>Firstname = <input type="text" name="firstname"/></p>
        <p>Surname = <input type="text" name="surname"/></p>
        <p>Motivation = <input type="text" name="motivation"/></p>
        <p>Share = <input type="text" name="share"/></p>
        <p><input type="submit" value="value"/></p>
    </form>
  </body>

</html>
